* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

header {
    background-color: white;
    padding: 0.5rem 1rem;
}

h1 {
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    vertical-align: top;
    
}

body {background-color: rgb(233, 218, 218);}

.bottoni {
    background-color: white;
    margin-left: 15em;
    margin-right: 15em;
    width: 920px;
    margin 0: auto;
    border-top: 32px
}

.riquadri {background-color: white;
}

#blu {background-color: blue;}

#freccia {color: green;
vertical-align: auto;}